@mixin bg-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  }
  
  @mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-style: italic;
    font-size: 24px;
  }
  
  img{
    display: block;
  }
  hr{
    width:384px;
    border-bottom: 0px;
    border-left: 0px;
    margin: 0 auto;
  }
  //font
  .fz-1{
    font-size: 80px;
  }
  .fz-2{
    font-size: 64px;
  }
  .fz-4{
    font-size: 24px;
  }
  
  .fz-normal{
    font-style: normal;  
  }

  //flex
  .d-flex{
    display: flex;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .fw-bold{
    font-weight: bold;
  }
  //main
  .banner{
    background-image:url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png");
    height: 100vh;
    @include bg-image;
    @include center;
    .bannerContent{
      color: white;
      h1 > span{
        font-weight: 600;
      }
    }
  }
  .about{
    width:412px;
    margin: 0 auto;
    text-align: center;
    padding: 56px 0px;
    .avatar{
      @include center;
    }
    .experience li{
      &:before{
        width:22px;
        height:22px;
        content:"";
        display: inline-block;
        background-color: #891818;
        border-radius:50%;
        margin-right: 16px;
      }
    }
  }
  .brand{
    background-color: #000;
    padding: 56px 0px 160px 0px;
    color: #fff;
    text-align: center;
    .photo{
      @include center;
      flex-wrap: wrap;
    }
  }
  .otherWorks{
    padding: 56px 0px 144px 0px;
    text-align: center;
    .works{
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
    } 
  }
  
  .footer{
    background-color: #000;
    padding: 64px 0px;
    color: #fff;
    text-align: center;
    a {
      text-decoration: none;
      color: #fff;
    }  
  }
  